# GitLab Container Registry — Projekt-Pfad
REGISTRY=registry.gitlab.com/koppetobias/leistungserfassung

# Image-Tag: dev | latest | <git-sha> | <git-tag>
TAG=dev

# Port auf dem vServer (nginx Reverse Proxy zeigt hierauf)
PORT=8090
